<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <title>Admin section</title>

  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <h1>Rasta Admin Blog for cars</h1>
        <p>search, sell and buy latest cars.</p>
      </div>
      </div>
      <h1 style="text-align:center">Create an Article</h1>

<div class="container">
  <form action="Blog.html">
  <h2>Article Title</h2>
  <input class="form-control" type="text" name="" value="">

  <h2>choose an image</h2>
  <input class="form-control" type="file" name="" value="">

  <h2>Article Text</h2>

<textarea name="name" rows="5"style="width:100%" id="comment"></textarea>
  <h2>Article Category</h2>
  <input class="form-control" type="text" name="" value="">
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


  </body>
</html>
