<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static './bootstrap/css/bootstrap.min.css' %}">

    <title>Rasta, Blog!</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <h1>Rasta, Blog</h1>
        <p>Best blog for latest articles.</p>
      </div>
      </div>

      <div class="row">
        <div class="col" ><img onclick="location.href='page.html'" src="{% static './imgs/e12-bmw-euro-bbs-lowered.jpg' %}" class="img-thumbnail"></div>
        <div class="col" ><img src="{% static './imgs/5029143155_c5e4b346f9_o.jpg' %}" class="img-thumbnail"></div>
        <div class="col" ><img src="{% static './imgs/bmw-e30-m3-oij-oij-sweden.jpg' %}" class="img-thumbnail"></div>
      </div>

      <div class="row">
        <div class="col"><img src="{% static './images/1200_IMG_2828.jpg' %}" class="img-thumbnail"></div>
        <div class="col" ><img src="{% static './images/22.jpg' %}" class="img-thumbnail"></div>
        <div class="col" ><img src="{% static './images/DSC_5078.jpg' %}" class="img-thumbnail"></div>
      </div>

      <div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:</p>
  <blockquote class="blockquote">
    <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
    <footer class="blockquote-footer">From WWF's website</footer>
  </blockquote>
</div>

<div class="container">
  <h1>Blockquotes</h1>
  <p>The blockquote element is used to present content from another source:</p>
  <blockquote class="blockquote">
    <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
    <footer class="blockquote-footer">From WWF's website</footer>
  </blockquote>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./bootstrap/js/JQuery.js"></script>
    <script src="./bootstrap/js//popper.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
